{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}

{% block head_title %}{% trans "About Baljan" %}{% endblock %}

{% block body_class %}about{% endblock %}
{% block body %}

<div class="row">
    <div class="span12 columns">
        <div>
            {# TODO: Translate. #}
            <h1>Mål och mening <small>Kaffe åt folket, helt enkelt.</small></h1>
            <p>
                Vi säljer kaffe, te, varm choklad, läsk, mackor och 
                <abbr title="delicatoboll, punschrulle, mazarin, biskvi, hallongrotta med flera">
                    klägg</abbr> till studentanpassade priser. Vi är helt idéella. Allt 
                överskott återinvesteras i utrustning, möbler och vår fantastiska personal.
            </p>
        </div>

        {% if FACEBOOK_ENABLED %}
        <div>
<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSektionscaf%25C3%25A9-Baljan%2F135878346468778&amp;width=700&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=false&amp;height=558" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:700px; height:558px;" allowTransparency="true"></iframe>
        </div>
        {% else %}
        <div class="alert-message info dev">
            Facebook area.
        </div>
        {% endif %}
    </div>
    
    <div class="span4 columns">
        <section id="open-hours"> 
            <h2>{% trans "Open Hours" %}</h2>
            <dl>
                <dt>{% trans "weekdays" %}</dt>
                <dd>{% trans "8:00 pm to 4:15 pm" %}<dd>
                <dt>{% trans "weekends and holidays" %}</dt>
                <dd>{% trans "closed" %}<dd>
            </dl>
            <p>
            {% blocktrans %}
            Open normal hours during mid-terms and finals. Closed during re-exams.
            {% endblocktrans %}
            </p>
        </section>

        <section id="contact">
            <h2>{% trans "Contact" %}</h2>
            <p>
            {% blocktrans with link as 'http://www.karservice.se/karallen/' %}
            Baljan is located at the bottom floor of <a href="{{link}}">Kårallen</a>, 
            campus Valla, Linköping.
            {% endblocktrans %}
            </p>

            <dl>
                <dt>{% trans "email" %}</dt>
                <dd><a href="mailto:{{CONTACT_EMAIL}}">{{CONTACT_EMAIL}}</a></dd>
                <dt>{% trans "phone" %}</dt>
                <dd><a href="tel:{{CONTACT_PHONE}}">{{CONTACT_PHONE}}</a></dd>
                <dt>{% trans "snail mail" %}</dt>
                <dd>
                    <address>
                    {% blocktrans %}
                    Sektionscafé Baljan<br/>
                    Kårallen, universitetet<br/>
                    581 83 Linköping<br/>
                    Sweden
                    {% endblocktrans %}
                    </address>
                </dd>
            </dl>
        </section>
    </div>
</div><!-- .row -->
<div class="grid_3 omega secondary">
</div><!--.secondary-->
<div class="clean"></div>

{% endblock %}

{% block extra_body %}
{% endblock %}
