{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block body_class %}login{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 columns">
        {% if form.non_field_errors %}
        <div class="alert-message error">
            {% for error in form.non_field_errors %}
            <p>
                {{error}}
            </p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url login %}" class="uniForm">
            <input type="hidden" name="next" value="{{ next }}">
            <fieldset>
                <legend>{% trans "Log in" %}</legend>
                {% csrf_token %}
                {% for field in form %}
                <div class="clearfix {% if field.errors %}error{% endif %}">
                    {{field.label_tag}}
                    <div class="input">
                        {{field}}
                        <span class="help-inline">
                            {{field.errors|join:", "}}
                        </span>
                    </div>
                </div>
                {% endfor %}
                <div class="actions">
                    <button type="submit" class="btn primary">{% trans "Log in" %}</button>
                    <button type="reset" class="btn">{% trans "Reset" %}</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span4 columns">
        <div class="alert-message info">
            <p>
            {% blocktrans %}
            You need a LiU student account (<em>abcde123</em>) to log in.
            {% endblocktrans %}
            </p>
        </div>

        <h2>{% trans "Cookies" %}</h2>
        <p>
        {% blocktrans %}
        In July 1, 2011, the Eletronic Communications Act (2003:389) was changed.
        By logging in, you accept that the site stores cookies on your
        device in order to keep a session.
        {% endblocktrans %}
        </p>
    </div>
</div><!-- .row -->
{% endblock body %}
