{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Search Person" %}{% endblock %}

{% block body_class %}search-person{% endblock %}
{% block body %}
<div class="row">
    <div class="span10 columns">
        <form class="search form-stacked" method="POST" action="">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                <legend>{% trans "Search Person" %}</legend>
                <input style="width:98%;margin:0 auto" 
                    id="search-terms" type="text" class="textinput textInput"
                    name="search-terms" value="{{terms|default:""}}"/>
                <span class="help-text">
                {% blocktrans %}
                Matches first name, last name, liu id, and groups. Only people that
                match each term show up in the results.
                {% endblocktrans %}
                </span>
            </fieldset>
        </form>

        <div class="results">
            <h2>{% trans "Hits" %} (<span class="count">{{hits|length}}</span>)</h2>
            <ul>
                {% for hit in hits %}
                <li>
                    <a href="{{hit.get_absolute_url}}">{{hit.get_full_name}} ({{hit.username}})</a>
                </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div class="span6 columns">
        {% if groups %}
        <div class="groups">
            <h2>{% trans "Groups" %}</h2>
            <ul>
                {% for group in groups %}
                <li>
                    <a href="{% url group group.name%}">{{group.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
// <![CDATA[
    CONFIRM_MSG = "{% trans "Are you sure?" %}";
    CONFIRM_SIGNUP = "{% trans "This cannot be undone. Are you sure?" %}";
    CONFIRM_DELETE = CONFIRM_MSG;
// ]]>
</script>
{% endblock %}
