{% extends "base.html" %}
{% load i18n %}

{% block body_base %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3>
                <a href="/">
                    Sektionscafé Baljan
                </a>
            </h3>
            {% block nav %}{% endblock %}
            {% block login %}{% endblock %}
        </div>
    </div>
</div>
    
    {% block body_outer %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div id="message_{{ forloop.counter }}" class="alert-message {% if message.tags %}{{message.tags}}{% endif %}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </div>
    {% endblock %}
    
    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
{% endblock body_base %}
